In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline
import os

### Read the raw dataframe

In [2]:
raw_df = pd.read_csv('data/master_data/john_hopkins_research.csv')
raw_df.drop('Unnamed: 0', axis= 1, inplace= True)

## make certain Last Update is datetime
raw_df['Last Update'] = pd.to_datetime(raw_df['Last Update'])

### US dataframe

In [3]:
us_df = raw_df[raw_df['Country/Region'] == 'US']

## Clean the US df

In [4]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

# thank you to @kinghelix and @trevormarburger for this idea
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [5]:
def get_admin(combined_key):
    if pd.isnull(combined_key):
        county = np.nan
    else:
        county = combined_key.split(',')[0]
    return county

In [6]:
def clean_state(state):
    if 'D.C.' in state or 'U.S.' in state:
        state = state
    elif '(From Diamond Princess)' in state:
        if ',' in state:
            state = abbrev_us_state[state.split('(')[0].split(',')[-1][1:-1]]
        else:
            state = 'Diamond Princess'
    elif ',' in state:
        state = abbrev_us_state[state.split(',')[-1].replace(' ', '')]
        
    return state

In [7]:
us_df['Admin2'] = us_df['Combined_Key'].apply(get_admin)

C:\Users\sahil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
us_df['Province/State'] = us_df['Province/State'].apply(clean_state)

C:\Users\sahil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
### US at the state level
### TODO: group by after extracting data
us_df['Date'] = us_df['Last Update'].dt.date
us_states = us_df.groupby(['Province/State', 'Date']).sum()

C:\Users\sahil\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
np.unique(list(map(lambda x: x[0], us_states.index)))

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Chicago', 'Colorado', 'Connecticut', 'Delaware',
       'Diamond Princess', 'District of Columbia', 'Florida', 'Georgia',
       'Grand Princess', 'Grand Princess Cruise Ship', 'Guam', 'Hawaii',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Recovered', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'US', 'United States Virgin Islands', 'Utah',
       'Vermont', 'Virgin Islands', 'Virgin Islands, U.S.', 'Virginia',
       'Washington', 'Washington, D.C.', 'West Virginia', 'Wisconsin',
       'Wuhan Evacuee', 'Wyoming'], dtype='<U28')

In [11]:
us_states = us_states.reset_index()

In [12]:
us_states = us_states[['Province/State', 'Date', 'Confirmed', 'Deaths', 'Recovered', 'Active']]

### Initialize US transformed dataframe

In [13]:
us_transformed = us_states[['Province/State']].copy()

In [14]:
us_transformed.rename(columns={'Province/State': 'State'}, inplace=True)

In [15]:
us_transformed['ConfirmedToDate'] = us_states['Confirmed']

In [16]:
us_transformed['Active'] = us_states['Active']

In [17]:
us_transformed['DeathToDate'] = us_states['Deaths']

In [18]:
us_transformed['RecoveredToDate'] = us_states['Recovered']

In [19]:
us_transformed['Date'] = us_states['Date']

### Functions to help with transformations

In [20]:
copy_us_transformed = us_transformed.copy()
def new_type(col):
    copy_us_transformed['new'] = us_transformed.groupby('State').diff()[col]
    
    to_ret = np.where(np.isnan(copy_us_transformed['new']), \
                                         copy_us_transformed[col], \
                                         copy_us_transformed['new'])
    return to_ret

In [21]:
def prev_type(col):
    return us_transformed.groupby('State').shift()[col].fillna(0)

In [22]:
def get_rate(col1, col2):
    rate = []
    for state in us_transformed['State'].unique():
        tmp = us_transformed[us_transformed['State'] == state]
        rate.extend(tmp[col1]/tmp[col2].shift())
    return np.array(rate)

In [23]:
def get_days_in(col, num=1):
    return_array = np.array([])
    for state in us_transformed['State'].unique():
        temp_df = us_transformed[us_transformed['State'] == state].copy()
        arr = np.cumsum(np.where(temp_df[col] > num, 1, 0))
        return_array = np.append(return_array, arr)
    return return_array

### Transform Function

In [24]:
def transform(col, suffix):
    
    ### new cases
    new_col = 'New' + suffix
    us_transformed[new_col] = new_type(col)
    
    ### prev new cases
    prev_new_col = 'Prev' + new_col
    us_transformed[prev_new_col] = prev_type(new_col)
    
    ### cases growth
    growth_col = 'GrowthRate' + suffix
    us_transformed[growth_col] = get_rate(new_col, col)
    
    ### new cases two day avg
    col_name_2_day_avg = new_col + "2DayAvg"
    us_transformed[col_name_2_day_avg] = (us_transformed[new_col] + us_transformed[prev_new_col])/2
    
    ### 2 day cases growth
    col_name = 'GrowthRate' + suffix + "2DayAvg"
    us_transformed[col_name] = get_rate(col_name_2_day_avg, col)
    
    ### growth rate change
    col_growth_change = growth_col + 'Change'
    us_transformed[col_growth_change] = us_transformed.groupby('State').diff()[col_name]
    
    ### days to double
    days_to_double = 'DaysToDouble' + suffix
    us_transformed[days_to_double] = 0.72/us_transformed[growth_col]
    
    ### days to double 2 day average
    days_to_double_2 = days_to_double + '2DayAvg'
    us_transformed[days_to_double_2] = 0.72/us_transformed[col_name]
    
    ### days to double change
    days_to_double_2_change = days_to_double_2 + 'Change'
    us_transformed[days_to_double_2_change] = us_transformed.groupby('State').diff()[days_to_double_2]
    
    ### days in 1
    daysin1 = 'Daysin1' + suffix
    us_transformed[daysin1] = get_days_in(col, 1)
    
    ### days in 5
    daysin5 = 'Daysin5' + suffix
    us_transformed[daysin5] = get_days_in(col, 5)
    
    ### days in 100
    daysin100 = 'Daysin100' + suffix
    us_transformed[daysin100] = get_days_in(col, 100)
    
    
    ### days in 250
    daysin250 = 'Daysin250' + suffix
    us_transformed[daysin250] = get_days_in(col, 250)
    
    
    ### days in 1000
    daysin1000 = 'Daysin1000' + suffix
    us_transformed[daysin1000] = get_days_in(col, 1000)

### New Cases

In [25]:
us_transformed['NewConfirmed'] = us_transformed.groupby('State').diff()['ConfirmedToDate']

In [26]:
us_transformed['NewConfirmed'] = np.where(np.isnan(us_transformed['NewConfirmed']), \
                                         us_transformed['ConfirmedToDate'], \
                                         us_transformed['NewConfirmed'])

In [27]:
us_transformed['PrevNewConfirmed'] = us_transformed.groupby('State').shift()['NewConfirmed'].fillna(0)

In [28]:
us_transformed['GrowthRate'] = get_rate('NewConfirmed', 'ConfirmedToDate')

In [29]:
us_transformed['GrowthRate'] = us_transformed['GrowthRate'].fillna(1)

In [30]:
## new confirmed two day average
us_transformed['NewConfirmed2DayAvg'] = (us_transformed['NewConfirmed'] + us_transformed['PrevNewConfirmed'])/2

In [31]:
### growth rate two day average
us_transformed['GrowthRate2DayAvg'] = get_rate('NewConfirmed2DayAvg', 'ConfirmedToDate')

In [32]:
us_transformed['GrowthRate2DayAvg'] = us_transformed['GrowthRate2DayAvg'].fillna(1)

In [33]:
## growth rate change
us_transformed['GrowthRateChange'] = us_transformed.groupby('State').diff()['GrowthRate2DayAvg']

In [34]:
### Rule of 72
us_transformed['DaysToDoubleNew'] = 0.72/us_transformed['GrowthRate']

In [35]:
us_transformed['DaysToDouble2DayAvgNew'] = 0.72/us_transformed['GrowthRate2DayAvg']

In [36]:
us_transformed['DaysToDouble2DayAvgNewChange'] = us_transformed.groupby('State').diff()['DaysToDouble2DayAvgNew']

In [37]:
us_transformed['Daysin1'] = get_days_in('ConfirmedToDate', 1)
us_transformed['Daysin5'] = get_days_in('ConfirmedToDate', 5)
us_transformed['Daysin100'] = get_days_in('ConfirmedToDate', 100)
us_transformed['Daysin250'] = get_days_in('ConfirmedToDate', 250)
us_transformed['Daysin1000'] = get_days_in('ConfirmedToDate', 1000)

### Transform Death Data

In [38]:
transform('DeathToDate', 'Deaths')

### Active Cases

In [39]:
us_transformed['Active'] = us_states['Active']

### Save the US data frame

In [40]:
if 'transformed' not in os.listdir('data'):
    os.mkdir('data/transformed')

In [41]:
us_transformed.to_csv('data/transformed/us_transformed.csv')

### Country DF

In [55]:
df_ = pd.read_csv('data/master_data/country_level/new_cases.csv')

In [61]:
df_2 = pd.read_csv('data/master_data/country_level/new_deaths.csv')

In [60]:
df_ = df_.melt(id_vars='date', value_name='NewConfirmed').rename(columns={'date':'Date'})

In [63]:
df_2 = df_2.melt(id_vars='date', value_name='NewDeaths').rename(columns={'date':'Date'})

In [67]:
df_.merge(df_2, on=['Date', 'variable']).rename(columns={'variable':'Country'}).to_csv('mas')

             Date   Country  NewConfirmed  NewDeaths
0      2019-12-31     World          27.0        0.0
1      2020-01-01     World           0.0        0.0
2      2020-01-02     World           0.0        0.0
3      2020-01-03     World          17.0        0.0
4      2020-01-04     World           0.0        0.0
...           ...       ...           ...        ...
20183  2020-04-02  Zimbabwe           0.0        0.0
20184  2020-04-03  Zimbabwe           0.0        0.0
20185  2020-04-04  Zimbabwe           1.0        0.0
20186  2020-04-05  Zimbabwe           0.0        0.0
20187  2020-04-06  Zimbabwe           0.0        0.0

[20188 rows x 4 columns]

In [49]:
#### TODO: Check new confirmed negative

,State,ConfirmedToDate,Active,DeathToDate,RecoveredToDate,Date,NewConfirmed,PrevNewConfirmed,GrowthRate,NewConfirmed2DayAvg,...,GrowthRateDeaths2DayAvg,GrowthRateDeathsChange,DaysToDoubleDeaths,DaysToDoubleDeaths2DayAvg,DaysToDoubleDeaths2DayAvgChange,Daysin1Deaths,Daysin5Deaths,Daysin100Deaths,Daysin250Deaths,Daysin1000Deaths
0,Alabama,5.0,0.0,0.0,0.0,2020-03-11,5.0,0.0,1.000000,2.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
25,Alaska,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
68,Arizona,18.0,0.0,0.0,2.0,2020-03-11,12.0,1.0,2.000000,6.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
92,Arkansas,7.0,0.0,0.0,0.0,2020-03-11,7.0,0.0,inf,3.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
140,California,459.0,0.0,7.0,8.0,2020-03-11,315.0,129.0,2.187500,222.0,...,1.500000,0.500000,0.288000,0.480000,-0.240000,2.0,1.0,0.0,0.0,0.0
169,Colorado,83.0,0.0,0.0,0.0,2020-03-11,68.0,11.0,4.533333,39.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
196,Connecticut,14.0,0.0,0.0,0.0,2020-03-11,12.0,1.0,6.000000,6.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
221,Delaware,5.0,0.0,0.0,0.0,2020-03-11,5.0,0.0,inf,2.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
250,Diamond Princess,46.0,0.0,0.0,0.0,2020-03-11,0.0,1.0,0.000000,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
269,District of Columbia,20.0,0.0,0.0,0.0,2020-03-11,15.0,5.0,3.000000,10.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
298,Florida,78.0,0.0,4.0,0.0,2020-03-11,63.0,9.0,4.200000,36.0,...,1.000000,NaN,0.720000,0.720000,NaN,3.0,0.0,0.0,0.0,0.0
329,Georgia,65.0,0.0,1.0,0.0,2020-03-11,48.0,8.0,2.823529,28.0,...,inf,NaN,0.000000,0.000000,NaN,0.0,0.0,0.0,0.0,0.0
355,Grand Princess,21.0,0.0,0.0,0.0,2020-03-11,0.0,21.0,0.000000,10.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
399,Hawaii,2.0,0.0,0.0,0.0,2020-03-11,0.0,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
424,Idaho,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
462,Illinois,71.0,0.0,0.0,4.0,2020-03-11,59.0,5.0,4.916667,32.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
491,Indiana,24.0,0.0,0.0,0.0,2020-03-11,18.0,4.0,3.000000,11.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
518,Iowa,30.0,0.0,0.0,0.0,2020-03-11,22.0,5.0,2.750000,13.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
544,Kansas,5.0,0.0,1.0,0.0,2020-03-11,4.0,0.0,4.000000,2.0,...,inf,NaN,0.000000,0.000000,NaN,0.0,0.0,0.0,0.0,0.0
569,Kentucky,22.0,0.0,0.0,0.0,2020-03-11,16.0,3.0,2.666667,9.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
596,Louisiana,42.0,0.0,0.0,0.0,2020-03-11,41.0,0.0,41.000000,20.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
622,Maine,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
649,Maryland,27.0,0.0,0.0,0.0,2020-03-11,19.0,3.0,2.375000,11.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
681,Massachusetts,218.0,0.0,0.0,2.0,2020-03-11,126.0,69.0,1.369565,97.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
706,Michigan,18.0,0.0,0.0,0.0,2020-03-11,18.0,0.0,inf,9.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
733,Minnesota,19.0,0.0,0.0,0.0,2020-03-11,16.0,2.0,5.333333,9.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
759,Mississippi,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
785,Missouri,2.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,1.000000,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
810,Montana,2.0,0.0,0.0,0.0,2020-03-11,2.0,0.0,inf,1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
838,Nebraska,18.0,0.0,0.0,0.0,2020-03-11,15.0,0.0,5.000000,7.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
867,Nevada,24.0,0.0,0.0,0.0,2020-03-11,20.0,0.0,5.000000,10.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
896,New Hampshire,11.0,0.0,0.0,0.0,2020-03-11,7.0,3.0,1.750000,5.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
922,New Jersey,52.0,0.0,2.0,0.0,2020-03-11,37.0,10.0,2.466667,23.5,...,1.000000,-inf,0.720000,0.720000,0.720000,1.0,0.0,0.0,0.0,0.0
948,New Mexico,13.0,0.0,0.0,0.0,2020-03-11,13.0,0.0,inf,6.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
980,New York,641.0,0.0,0.0,0.0,2020-03-11,468.0,35.0,2.705202,251.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1008,North Carolina,17.0,0.0,0.0,0.0,2020-03-11,10.0,6.0,1.428571,8.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1034,North Dakota,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1072,Ohio,17.0,0.0,0.0,0.0,2020-03-11,14.0,3.0,4.666667,8.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1099,Oklahoma,2.0,0.0,0.0,0.0,2020-03-11,0.0,1.0,0.000000,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1127,Oregon,49.0,0.0,0.0,0.0,2020-03-11,34.0,3.0,2.266667,18.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1156,Pennsylvania,57.0,0.0,0.0,0.0,2020-03-11,45.0,7.0,3.750000,26.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1216,Rhode Island,19.0,0.0,0.0,0.0,2020-03-11,16.0,0.0,5.333333,8.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1242,South Carolina,23.0,0.0,0.0,0.0,2020-03-11,16.0,2.0,2.285714,9.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1266,South Dakota,16.0,0.0,2.0,0.0,2020-03-11,16.0,0.0,inf,8.0,...,inf,NaN,0.000000,0.000000,NaN,1.0,0.0,0.0,0.0,0.0
1289,Tennessee,35.0,0.0,0.0,0.0,2020-03-11,28.0,5.0,4.000000,16.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1323,Texas,64.0,0.0,0.0,0.0,2020-03-11,51.0,6.0,3.923077,28.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1357,Utah,12.0,0.0,0.0,0.0,2020-03-11,10.0,1.0,5.000000,5.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1384,Vermont,2.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,1.000000,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1427,Virginia,39.0,0.0,0.0,0.0,2020-03-11,32.0,5.0,4.571429,18.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1475,Washington,934.0,0.0,66.0,2.0,2020-03-11,667.0,266.0,2.498127,466.5,...,1.413043,-1.086957,0.385116,0.509538,0.221538,9.0,9.0,0.0,0.0,0.0
1502,West Virginia,0.0,0.0,0.0,0.0,2020-03-11,0.0,0.0,1.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1525,Wisconsin,25.0,0.0,0.0,2.0,2020-03-11,22.0,2.0,7.333333,12.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1554,Wyoming,1.0,0.0,0.0,0.0,2020-03-11,1.0,0.0,inf,0.5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0